<header
  class="shadow-sm h-14 flex content-center fixed bg-white w-full select-none z-10"
>
  <div class="logo horizontal-center ml-5">
    <img class="h-10" src="../../../assets/logo_cropped.png" />
  </div>
  <div class="links flex font-open font-bold ml-5">
    <div
      routerLink="/explore"
      class="horizontal-center menu-item"
      routerLinkActive="active"
    >
      <span>Explore</span>
    </div>
    <div
      routerLink="/share"
      class="horizontal-center menu-item"
      routerLinkActive="active"
    >
      <span>Share</span>
    </div>
  </div>
</header>
