<aside class="w-52 bg-gray-200 h-full text-gray-600">
  <ul class="text-right font-open text-sm pt-20">
    <li
      class="py-2 cursor-pointer focus:outline-none"
      routerLink="/explore/latest"
      routerLinkActive="active"
    >
      <a class="pr-4">Latest Memes</a>
    </li>
    <li
      class="py-2 cursor-pointer focus:outline-none"
      routerLink="/explore/oldest"
      routerLinkActive="active"
    >
      <a class="pr-4">Oldest Memes</a>
    </li>
    <li
      class="py-2 cursor-pointer focus:outline-none"
      routerLink="/explore/likes"
      routerLinkActive="active"
    >
      <a class="pr-4">Most Liked</a>
    </li>
    <li
      class="py-2 cursor-pointer focus:outline-none"
      routerLink="/explore/least-liked"
      routerLinkActive="active"
    >
      <a class="pr-4">Least Liked</a>
    </li>
  </ul>
</aside>
